$main: #221714;
$pink: #E51E65;
$gray: #EBEBEC;

@font-face {
    font-family: didot;
    src: url(../fonts/TheanoDidot-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}